<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="keyWords.A7_DependsOnTest"/>
      <class name="keyWords.A6_DescriptionTest"/>
      <class name="keyWords.A8_InvocationCountTest"/>
      <class name="keyWords.A9_InvocationTimeOutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
